* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.live-scores {
    height: 50px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.live-scores ul {
    list-style: none;
}

.nav {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.nav-elements {
    width: 1090px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sports {
    margin-left: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

.sports li {
    padding: 10px;
}

.nav-options {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-options img {
    height: 23px;
    width: 23px;
    padding: 5px;
}

.logo {
    background-color: rgb(199, 0, 0);
    padding: 1.5px 15px;
    transform: skew(-25deg);
}

.logo h1 {
    transform: skew(25deg);
}

.body-container {
    height: 100vh;
    width: auto;
    padding: 25px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-color: rgb(199, 199, 199);
}

.body {
    height: auto;
    width: 900px;
    display: flex;
}

.top-stories {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-top: 2px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-stories ul {
    list-style: none;
}

.top-stories li {
    padding: 7px 0px;
}

.customize {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.sign-in {
    padding: 4px 22px;
    color: white;
    border: 3px solid black;
    box-shadow: 2px 2px black;
    background-color: rgb(35, 134, 255);
}

.sign-up {
    padding: 4px 18px;
    border: 3px solid black;
    box-shadow: 2px 2px black;
    background-color: rgb(255, 255, 255);
}

.subscribe {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.b-subscribe {
    padding: 4px 67px;
    margin-top: 10px;
    border: 3px solid black;
    box-shadow: 2px 2px black;
    background-color: rgb(255, 213, 73);
}

.right-col {
    background-color: white;
    border-radius: 15px;
    padding: 20px 40px;
    width: 535px;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
}

.live {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: red;
    margin-right: 60px;
}

.red-dot {
    background-color: red;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.team-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px -17px;
}

.team-logos img {
    height: 140px;
    width: 140px;
}

.team-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scoreboard {
    display: block;
    width: 535px;
}

.scoreboard ul {
    list-style: none;
    text-align: center;
}

.totalwl {
    color: rgb(160, 160, 160);
}

.ninja {
    color: rgb(66, 151, 142);
}

.pirate {
    color: rgba(215, 0, 0, 0.804);
}

.interactive-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#ninja-score {
    background-color: transparent;
    border: none;
    font-size: 200%;
    font-weight: bold;
}

#pirate-score {
    background-color: transparent;
    border: none;
    font-size: 200%;
    font-weight: bold;
    margin-right: 7px;
}

.match-desc {
    width: 535px;
}

